// Colors
$color-light-1: #FFFCF2;
$color-light-2: #E8EDED;
$color-light-3: #CCC5B9;
$color-dark-1: #403D39;
$color-dark-2: #141414;
$color-accent: #FFA640;

$color-letraprincipal: gray;
$color-subrayado: white;
$color-fondoBarra: white;

// General typography
$normal-text-font: "Roboto", sans-serif;
$normal-text-size: 1rem;
$normal-text-weight: 400;