body {
  @extend html;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  color: $color-light-3;
  font-family: $normal-text-font;
  font-size: $normal-text-size;
  font-weight: $normal-text-weight;
}
