footer {
  //width: 100%;
  //display: flex;
  color: $color-letraprincipal;
  background-color: $color-footer;
  // align-items: center !important;
  // align-content: flex-end !important;
  // justify-content: flex-end !important; 
  // display: flex;
  // align-items: center;
  // justify-content: end;

  i {
    font-size: 2em;
    a {
      &:hover {
        background-size: 100% 2px;
      }  
    }
  }
}